@import "../../../helpersSCSS/vars";
@import "../../../helpersSCSS/Container";


.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  width: 100%;

  background-color:  rgba(19,30,37,1);
//background: linear-gradient(94deg, rgba(3,2,6,1) 7%, rgba(17,23,45,1) 68%, rgba(67,67,89,1) 100%);


  .dropdown__inner {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    color: $white;

    @extend .container;



    .dropdown__col {

      & h4 {
        margin-bottom: 1.5rem;
      }


      & div {
        line-height: 15px;
        margin-bottom: 3rem;
        height: 50%;

        &:last-child {
          margin-bottom: auto;
        }
      }
    }

  }
}