.news__item {
  width: 250px;
  height: auto;



  .title {
    margin-top: 10px;
    max-width: 100%;
    line-height: 24px;

  }

  .text {
    max-width: 100%;
    line-height: 24px;
  }

  & img {

    max-width: 100%;


  }

}