.btn1 {
  position: relative;
  padding: 10px 15px;
  background-color: #fe423f;
  border: none;
  color: #FFF;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
}

.btn1:hover {
  background-color: #0c0d0d;


}

.btn1[disabled] {
  opacity: .5;
  cursor: not-allowed;
}

.btn1.active {
  background-color: #23C9FF;
  border: 1px solid #5EB2F2;
  box-shadow: 0 0 2px 0 #C0C0C0;
}