@import "../../../helpersSCSS/vars";
.slider {
  background: rgb(242,230,230);
  background: linear-gradient(93deg, rgba(242,230,230,1) 7%, rgba(52,76,92,1) 49%, rgba(5,9,11,1) 100%);

  display: flex;
  align-items: center;
  height: 900px;


}

.slider__inner {


  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;



  //margin-top: 70px;
  //width: 100%;
  //background: url('https://images.kinomax.ru/conv/poster/5471/p_ac75e67.jpg') no-repeat;
  //background-size: cover;
  //background: linear-gradient(-45deg, $sliderGradient-1, $sliderGradient-2);
  //position: relative;

}

