@import "../../helpersSCSS/vars";

.nav {
  font-size: 1rem;

}

.nav__item {
  padding: 10px 10px;
  background-color: transparent;
  color: white;
  margin-left: 1.2rem;
  transition: color .1s linear;
  border-radius: 3px;

  &:hover {
    text-decoration: none;
    color: #ff7c00;
  }

  &.navBetween {
    font-size: 1rem;
    text-transform: uppercase;
    padding: 8px 10px;
    color: $black;
    background-color: rgba(255, 255, 255, .7);
    margin-left: 1.2rem;
    transition: background .2s linear;

    &:hover {

      background-color: rgba(255, 255, 255, 1);


    }

  }
}


.navNews {
  padding: 8px 10px;
  color: $white;
  border: 1px solid $white;
  border-radius: 5px;
  background-color: transparent;
  margin-left: 1.2rem;
  transition: border .2s linear;

  &:hover {
    color: $white;
    border: 1px solid #ff7c00;
    background-color: transparent;


  }
}










