.paginationWrapper {
  margin-top: 5rem;
  margin-bottom: 20px;
  display: inline-block;
  padding: 20px 40px;
  background-color: inherit;
  font-weight: 700;
}

.paginationWrapper button {
  color: #FFFFFF;
  font-weight: 700;
  background-color: transparent;
  padding: 1rem 1.5rem;
  margin-left: 5px;
  cursor: pointer;
  outline: none;
  transition: background .2s linear;

  &:hover {
    background-color: rgba(255, 124, 0, .1);
    box-shadow:  1px 0px 5px 0px rgba(255, 124, 0, .1);
  }

}

.paginationWrapper button.active {
  background-color: rgba(255, 124, 0, .1);
}


.arrow {
  fill: #FFFFFF;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.active {
  fill: rgba(255, 124, 0, .7);
}