.img__now {


}


.img__now.entering {

}

.img__now.entered {
  animation: img 5s infinite

}

.img__now.exiting {

}

.img__now.exited {

}


@keyframes img {

  0% {
    transform:none;
  }

  50% {
    transform: scale(1.020)
  }


  100% {
    transform: scale(1);
  }


}


